@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* ROOT ELEMENTS */
:root {
  --background-color: #F5F5F5;
  --light-accent: #C3C2C1;
  --main-brand-color: #878482;
  --dark-accent: #4B4644;
  --hover-effect: #0F0805;

  --artNouveau-theme: #f07d1a;
  /* 240, 125, 26 */
  --bauhaus-theme:#009fe3;
  /* 0, 178, 227 */
  --grapus-theme:#854bdf;
  /* 133, 75, 223 */
  --nineties-theme: #7db928;
  /* 125, 185, 40 */
  --constructivism-theme:#ffed00;
  /* 255, 237, 0 */
  --militantGraphics-theme:#e6007e; 
  /* 230, 0, 126 */
}

h1 {
  text-align: center;
  padding-bottom: 0.5rem;
  font-size: 50px;
}

body {
  background-color: var(--background-color);
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-width: 200px;
}





/* INDEX.HTML */

header {
  /* background-color: var(--main-brand-color); */
  background: rgba(0,0,0,0);
  color: white;
  padding: 10px;
  margin: 0;
  z-index: 10;
  font-weight: bold;
  /* position: fixed;
  top: 0; */
}

.headerMain {
  background-color: var(--main-brand-color);
  z-index: 10;
  /* background: rgba(0,0,0,0); */
  color: white;
  padding: 10px;
  margin: 0;
  /* position: fixed;
  top: 0; */
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  z-index: 10;
}

nav ul li {
  margin: 0 10px;
  z-index: 10;
}

nav ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
  z-index: 10;
}

nav ul li a:hover {
  color: black;
}


a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

a:hover {
  color: var(--hover-effect);
}


#content {
  padding: 20px;
}

footer {
  background-color: var(--main-brand-color);
  color: white;
  text-align: center;
  padding: 10px;
  /* position: fixed;
  bottom: 0;
  width: 100%; */
}



/* Media queries index.html */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}





/* Home.html */
.homeWelcomeContent {
  text-align: center;
}

#board {
  height: 532px;
  width: 475px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: whitesmoke;
  border: 10px solid lightgrey;
}

.gameCard {
  height: 128px;
  width: 90px;
  margin: 2.5px;
}





/* Themes.html */
.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
}

.card {
  flex: 0 1 calc(30% - 1em); /* Adjust the width as needed */
  margin-bottom: 20px; /* Add margin between the cards */
  position: relative;
  width: 200px;
  height: 300px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}
.card:hover img {
  transform: scale(1.1);
}
.card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;

  opacity: 0;
  transition: opacity 0.5s;
}
.card:hover .overlay {
  opacity: 1;
}

.overlay a{
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.overlay a:hover {
  color: white;
  transition: color 0.5s;
}

/* Media queries themes.html */

@media (max-width: 480px) {
  .card {
    flex: 0 1 calc(50% - 1em);
  }
}




/* EVERY Themes PAGES */

.container {
  padding: 3rem;
}
.container p {
  padding-left: 1rem;
}
.themeNav {
  border-top: 1px solid #fff; /* Adds a 1px white border on top */
}

section {
  margin-bottom: 3rem;
}

#about {
  text-align: center;
  position: relative;
  z-index: 10;
  padding-top: 2rem;
  /* background-image: url('../assets/img/templates/bauhaus/Cover of Bauhausbuch 6.jpg');
  background-size: cover;
  background-position: center;
  color: white; */
}





/* Cover */
.coverMilitantGraphics{
  position: relative;
  background-image: url('../assets/img/templates/Graphisme militant/Barbara KRUGER, Untitled (I shop therefore I am), 1989.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
}
.coverConstructivism{
  position: relative;
  background-image: url('../assets/img/templates/Constructivisme/36944504595_497fdcb7f2_o.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
}
.coverNineties{
  position: relative;
  background-image: url('../assets/img/templates/Design années 90/49745676218_d11b9db2c6_o.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
}
.coverGrapus{
  position: relative;
  background-image: url('../assets/img/templates/Grapus/46692572275_462752d7a2_o.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
}
.coverArtNouveau{
  position: relative;
  background-image: url('../assets/img/templates/Art nouveau/34935580216_5902a4c8b4_o.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
}
.coverBauhaus {
  position: relative;
  background-image: url('../assets/img/templates/bauhaus/Cover of Bauhausbuch 6.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
}
.cover::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(56, 56, 56, 0.5); /* Adjust the alpha value to make it darker or lighter */
  z-index:2;
}

.coverMilitantGraphics::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(230, 0, 126, 0.5);
  z-index:2;
}

.coverMilitantGraphics > .fadeCover {
  height: 4rem;
  background: linear-gradient(to bottom, rgba(230, 0, 126, 0), rgba(230, 0, 126, 0.8));
}

.coverArtNouveau::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(240, 125, 26, 0.5);
  z-index:2;
}
.coverArtNouveau > .fadeCover {
  height: 4rem;
  background: linear-gradient(to bottom, rgba(240, 125, 26, 0), rgba(240, 125, 26, 0.8));
}

.coverBauhaus::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 178, 227, 0.5);
  z-index:2;
}
.coverBauhaus > .fadeCover {
  height: 4rem;
  background: linear-gradient(to bottom, rgba(0, 178, 227, 0), rgba(0, 178, 227, 0.8));
}

.coverGrapus::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(133, 75, 223, 0.5);
  z-index:2;
}
.coverGrapus > .fadeCover {
  height: 4rem;
  background: linear-gradient(to bottom, rgba(133, 75, 223, 0), rgba(133, 75, 223, 0.8));
}

.coverNineties::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(125, 185, 40, 0.5);
  z-index:2;
}
.coverNineties > .fadeCover {
  height: 4rem;
  background: linear-gradient(to bottom, rgba(125, 185, 40, 0), rgba(125, 185, 40, 0.8));
}

.coverConstructivism::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 237, 0, 0.5);
  z-index:2;
}
.coverConstructivism > .fadeCover {
  height: 4rem;
  background: linear-gradient(to bottom, rgba(255, 237, 0, 0), rgba(255, 237, 0, 0.8));
}
.fadeCover {
  height: 4rem;
  background: linear-gradient(to bottom, rgba(56, 56, 56, 0), rgba(56, 56, 56, 0.8));
}





/* Visual type part */
#visualType > h2 {
  text-align: center;
  color: black;
}

#visualType > p {
  text-align: center;
  color: black;
}

#visualType {
  width: 80%;
  /* border: 1px solid var(--main-brand-color); */
  margin: 0 auto;
}




/* IMAGES */
.imageRight {
  width: 110px;
  float: right;
}

.typoImg {
    width: 100%;
  }

.imageLeft {
  overflow: hidden;
  margin-bottom: 1rem;
}

.imageLeft > img {
  float: left;
  margin-right: 10px; 
  width: 110px; 
}
.imageLeft > p {
  margin: auto 0;
}

.centerImage {
  display: flex;
  justify-content: center;
}

.visualImg {
  max-width: 50%; /* Adjust the max-width as needed to make the image smaller */
}






/* Column of section */
.row {
  display: flex;
}

.row > p {
  text-align: justify;
}

.column {
  flex: 1;
  /* padding: 10px; */
  /* border: 1px solid var(--main-brand-color); */
  padding: 10px;
  margin: 10px; 
}

.column > section {
  /* background-color: var(--main-brand-color); */
  padding: 1rem;
}

@media (max-width: 620px) {
  .row {
    flex-direction: column;
  }
}




/* THEMES colors */
.artNouveauBorder{
  border:1px solid var(--artNouveau-theme);
 }
 .artNouveauBorder > section {
   background-color: var(--artNouveau-theme);
 }
 
 .bauhausBorder{
   border:1px solid var(--bauhaus-theme);
 }
 .bauhausBorder > section {
   background-color: var(--bauhaus-theme);
 }
 
 .constructivismBorder{
   border:1px solid var(--constructivism-theme);
 }
 .constructivismBorder > section {
   background-color: var(--constructivism-theme);
 }
 
 .grapusBorder{
   border:1px solid var(--grapus-theme);
 }
 .grapusBorder > section {
   background-color: var(--grapus-theme);
 }

 .grapusBorder p {
  color: white;
 }

 .grapusBorder h2 {
  color: white;
 }
 
 .militantGraphicsBorder{
   border:1px solid var(--militantGraphics-theme);
 }
 .militantGraphicsBorder > section {
   background-color: var(--militantGraphics-theme);
 }
 .militantGraphicsBorder p {
  color: white;
 }

 .militantGraphicsBorder h2 {
  color: white;
 }

 .ninetiesBorder{
   border:1px solid var(--nineties-theme);
 }
 .ninetiesBorder > section {
   background-color: var(--nineties-theme);
 }