<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Nouveau</title>
    <meta name="description" content="">
    <link rel="icon" type="image/x-icon" href="/assets/fav-icons/favicon.ico">
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
  <section class="cover coverArtNouveau">
      <header>
          <nav>
            <ul>
              <li><a href="../index.html">Home</a></li>
              <li><a href="./themes.html">Themes</a></li>
              <!-- <li><a href="/subtheme1">BauhausLink</a></li> -->
            </ul>
          </nav>
        </header>
    
    <header>
      <nav class="themeNav">
        <ul>
          <!-- <li><a href="/themes">Themes Menu</a></li> -->
          <li><a href="#about">About Art Nouveau</a></li>
          <li><a href="#visualType">Type of visual</a></li>
          <li><a href="#typography">Typography</a></li>
          <li><a href="#designers">Designers</a></li>
          <li><a href="#works">Works</a></li>
        </ul>
      </nav>
    </header>

      <section id="about">
        <h1>Art Nouveau</h1>
        <p>Learn about the influential Art Nouveau and its impact on graphic design.</p>
      </section>

      <div class="fadeCover"></div>

    </section>

    <div class="containerNOTACTIVE">
      <section id="visualType">
        <h2>Type of visual</h2>
        <p>Stylized illustration (Representing something with a particular style, specific to an author, a genre or an era).</p>
        <div class="centerImage">
          <img class="visualImg" src="../assets/img/templates/Art nouveau/23749283108_61e4d9bfe4_o.jpg" alt="Absinthe Robette, Henri Privat-Livemont(1896)"/>
        </div>
        <p>Absinthe Robette, Henri Privat-Livemont(1896)</p>
      </section>

          <div class="row">
            <div class="column">
              <section id="typography">
                <h2>Typography</h2>
                <p>Grasset (In Paris, painter and decorator Eugène Grasset (1845-1917) designed numerous ornaments and vignettes in this spirit, as well as an alphabet, the Grasset, published in 1897 by the Peignot foundry).</p>
                <img class="typoImg" src="../assets/img/templates/Art nouveau/Grasset_specimen.png" alt="the Grasset"/>
              </section>
            </div>
            <div class="column">
              <section id="designers">
                <h2>Designers</h2>
                <div class="imageLeft">
                  <img src="../assets/img/templates/Art nouveau/mucham.jpg" alt="Alfons Mucha 1860-1939"/>
                  <p>Alfons Mucha 1860-1939 (The work of Czech painter and designer Alfons Mucha embodies the Belle Époque and its Art Nouveau style. Famous for his posters for shows, exhibitions and consumer products, the artist was also a designer of ornaments and typefaces, attentive to the revival of books, and a decorator of jewelry, stained glass, furniture, tableware, exhibition stands and stores).</p>
                </div>
                <div class="imageLeft">
                  <img src="../assets/img/templates/Art nouveau/Peter_Behrens,_um_1913.jpg" alt="Peter Behrens 1868-1940"/>
                  <p>Peter Behrens 1868-1940 (In 1890, he moved to Munich, where he began his career as a painter, illustrator and bookbinder, before returning to Düsseldorf to teach at the School of Applied Arts).</p>
                </div>
              </section>
            </div>
            <div class="column">
              <section id="works">
                <h2>Works</h2>
                <div class="imageLeft">
                  <img src="../assets/img/templates/Art nouveau/34935580216_5902a4c8b4_o.jpg" alt="JOB poster"/>
                  <p>JOB is an advertising poster designed and lithographed by Alfons Mucha, and printed by Champenois in 1896, for the cigarette paper brand JOB. </p>
                </div>
                <div class="imageLeft">
                  <img src="../assets/img/templates/Art nouveau/34787309142_49b743087c_o.jpg" alt="Peter Behrens"/>
                  <p>Peter Behrens, artwork for the magazine Kunst und Dekoration, 1900. Special edition about the Künstler-Kolonie Darmstadt.</p>
                </div>
              </section>
            </div>
          </div>

    </div>
  

    <footer>
      <p>&copy; 2023 Graphi'Quest</p>
    </footer>

</body>
</html>
