<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Constructivism</title>
    <meta name="description" content="">
    <link rel="icon" type="image/x-icon" href="/assets/fav-icons/favicon.ico">
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
  <section class="coverConstructivism">
      <header>
          <nav>
            <ul>
              <li><a href="../index.html">Home</a></li>
              <li><a href="./themes.html">Themes</a></li>
              <!-- <li><a href="/subtheme1">BauhausLink</a></li> -->
            </ul>
          </nav>
        </header>
    
    <header>
      <nav class="themeNav">
        <ul>
          <!-- <li><a href="/themes">Themes Menu</a></li> -->
          <li><a href="#about">About constructivism</a></li>
          <li><a href="#visualType">Type of visual</a></li>
          <li><a href="#typography">Typography</a></li>
          <li><a href="#designers">Designers</a></li>
          <li><a href="#works">Works</a></li>
        </ul>
      </nav>
    </header>

      <section id="about">
        <h1>Constructivism (1917-1930)</h1>
        <p>Learn about the constructivism movement and its impact on graphic design.</p>
      </section>

      <div class="fadeCover"></div>

    </section>

    <div class="containerNOTACTIVE">
      <section id="visualType" class="constructivismBorder">
        <h2>Type of visual</h2>
        <p>Photography (Technique, art of taking photographic images</p>
        <div class="centerImage">
          <img class="visualImg" src="../assets/img/templates/Constructivisme/36944504595_497fdcb7f2_o.jpg" alt="USSR under construction 1933, photograph n°12"/>
        </div>
        <p>Alexander Rodtchenko, USSR under construction 1933, photograph n°12)</p>
      </section>

          <div class="row">
            <div class="column constructivismBorder">
              <section id="typography">
                <h2>Typography</h2>
                <p>Bricks (a family of Soviet-inspired fonts widely used, incorporating the simplest triangles and rectangles).</p>
                <img class="typoImg" src="../assets/img/templates/Constructivisme/201701_Typographie-BRICKS-8.png" alt="Bricks font"/>
              </section>
            </div>
            <div class="column constructivismBorder">
              <section id="designers">
                <h2>Designers</h2>
                <div class="imageLeft">
                  <img src="../assets/img/templates/Constructivisme/1935-alexander_rodschenko.jpg" alt="Alexander Rodchenko"/>
                  <p>Alexander Rodchenko 1891-1955 (an important figure in the Russian forefront, perhaps not so much for his pictorial "work" as for his teaching, his personality as an animator and polygrapher. After being influenced by Malevich, he found himself on Tatlin's side in their eternal quarrels, before becoming one of the leaders of the "productivist" movement and (temporarily) abandoning painting).</p>
                </div>
                <div class="imageLeft">
                  <img src="../assets/img/templates/Constructivisme/El-Lissitzkys-Portrait-image-via-metalocuses.jpg" alt="El Lissitzky"/>
                  <p>El Lissitzky 1890-1941 (architect, painter, photographer, typographer. An architect who never built, he was nevertheless one of the catalysts of international Constructivism in the 1920s. In addition to his major contributions to the history of graphic design and his museographic innovations, he was one of the main theorists of a new synthesis of the arts which, based on the notion of environment, sought to redefine the place of the spectator).</p>
                </div>
              </section>
            </div>
            <div class="column constructivismBorder">
              <section id="works">
                <h2>Works</h2>
                <div class="imageLeft">
                  <img src="../assets/img/templates/Constructivisme/37041636834_fe3eac1537_o.jpg" alt="Beat the Whites with the Red Corner poster"/>
                  <p>Beat the Whites with the Red Corner poster, El Lissitzky, 1920 (propaganda poster in the context of the Russian Civil War).</p>
                </div>
                <div class="imageLeft">
                  <img src="../assets/img/templates/Constructivisme/37704127306_a3cdef2fdc_o.jpg" alt="photography, L'Escalier"/>
                  <p>Alexander Rodchenko, photography, L'Escalier, 1930 (photographer from the early years of the USSR, depicting work scenes).</p>
                </div>
              </section>
            </div>
          </div>


          <section class="youtube constructivismBorder">
            <div class="iframeBG">
              <h2>Quick videos to present the subject:</h2>
                <div class="youtubeSizeRatio">
                  <iframe src="https://www.youtube.com/embed/mQURCU6jN58?si=lJsaAA2t0LP3gQzY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
              </div>
          </section>

    </div>
  

    <footer>
      <p>&copy; 2023 Graphi'Quest</p>
    </footer>

</body>
</html>
