<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grapus</title>
    <meta name="description" content="">
    <link rel="icon" type="image/x-icon" href="/assets/fav-icons/favicon.ico">
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
  <section class="coverGrapus">
      <header>
          <nav>
            <ul>
              <li><a href="../index.html">Home</a></li>
              <li><a href="./themes.html">Themes</a></li>
              <!-- <li><a href="/subtheme1">BauhausLink</a></li> -->
            </ul>
          </nav>
        </header>
    
    <header>
      <nav class="themeNav">
        <ul>
          <!-- <li><a href="/themes">Themes Menu</a></li> -->
          <li><a href="#about">About Grapus</a></li>
          <li><a href="#visualType">Type of visual</a></li>
          <li><a href="#typography">Typography</a></li>
          <li><a href="#designers">Designers</a></li>
          <li><a href="#works">Works</a></li>
        </ul>
      </nav>
    </header>

      <section id="about">
        <h1>Grapus</h1>
        <p>Learn about the Grapus art movement and its impact on graphic design.</p>
      </section>

      <div class="fadeCover"></div>

    </section>

    <div class="containerNOTACTIVE">
      <section id="visualType" class="grapusBorder">
        <h2>Type of visual</h2>
        <p>parasitized visuals (arrows, handwritten additions, collages, offsets, distortion, blur)</p>
        <div class="centerImage">
          <img class="visualImg" src="../assets/img/templates/Grapus/34264174043_72ee2452e8_o.jpg" alt="Raymond Loewy designs the Studebaker"/>
        </div>
        <p>Raymond Loewy designs the Studebaker, Grapus, 1987.</p>
      </section>

          <div class="row">
            <div class="column grapusBorder">
              <section id="typography">
                <h2>Typography</h2>
                <p>Hand-made lettering by Jean Cocteau 1981 (Known to all, the winged hand in blue and red has been part of SPF's history since 1981, thanks to the work of the Grapus collective. Previously, the association signed its name with the three letters SPF, and some posters were illustrated by big names such as Jean Cocteau).</p>
                <img class="typoImg" src="../assets/img/templates/Grapus/400x400_sc_18814387-1374799999222509-5589421328440092428-n.jpg" alt="Hand-made lettering"/>
              </section>
            </div>
            <div class="column grapusBorder">
              <section id="designers">
                <h2>Designers</h2>
                <div class="imageLeft">
                  <img src="../assets/img/templates/Grapus/pierre-bernard-portrait.jpg" alt="Pierre Bernard 1942-2015"/>
                  <p> Pierre Bernard 1942-2015 (Trained at the Arts Déco, in the late 1960s he co-founded the Grapus collective with fellow graduates François Miehe, Gérard Paris-Clavel, Jean-Paul Bachollet and Alex Jordan. Over a period of twenty years, this fine team totally reinvented "public utility graphics", collectively creating thousands of images that were committed, angry, funny, powerful, poetic...)</p>
                </div>
                <div class="imageLeft">
                  <img src="../assets/img/templates/Grapus/vincent-perrotet-intervient-dans-de-nombreuses-ecoles-d-art-de-design-et-d-architecture-ph-a-marchi-1428916558.jpg" alt="Vincent Perrottet"/>
                  <p>Vincent Perrottet (Born in 1958. From 1978 to 1984, he studied at the École nationale supérieure des Arts Décoratifs, video/cinema section. In 1983, he had a decisive encounter with the Grapus collective, with whom he worked until 1989. This collaboration was interspersed with the creation of two young graphic designers' collectives: 1984/1985 Thève, Perrottet, Milville, 1987/1988 "Courage" with Pierre di Sciullo and Pierre Milville).</p>
                </div>
              </section>
            </div>
            <div class="column grapusBorder">
              <section id="works">
                <h2>Works</h2>
                <div class="imageLeft">
                  <img src="../assets/img/templates/Grapus/47608342301_38cbd5a8d9_o.jpg" alt="Poster Grapus"/>
                  <p>Poster Grapus at the Musee de l'affiche, Grapus, 1982 (Donated by Vincent Perrottet and Sido Perrottet to the Centre Pompidou in 2017).</p>
                </div>
                <div class="imageLeft">
                  <img src="../assets/img/templates/Grapus/46692572275_462752d7a2_o.jpg" alt="poster La culture pénétrant les idées dominantes"/>
                  <p>poster La culture pénétrant les idées dominantes, Grapus, 1985 </p>
                </div>
              </section>
            </div>
          </div>

    </div>
  

    <footer>
      <p>&copy; 2023 Graphi'Quest</p>
    </footer>

</body>
</html>
