<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Militant Graphics</title>
    <meta name="description" content="">
    <link rel="icon" type="image/x-icon" href="/assets/fav-icons/favicon.ico">
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
  <section class="cover coverMilitantGraphics">
      <header>
          <nav>
            <ul>
              <li><a href="../index.html">Home</a></li>
              <li><a href="./themes.html">Themes</a></li>
              <!-- <li><a href="/subtheme1">BauhausLink</a></li> -->
            </ul>
          </nav>
        </header>
    
    <header>
      <nav class="themeNav">
        <ul>
          <!-- <li><a href="/themes">Themes Menu</a></li> -->
          <li><a href="#about">About Militant Graphics</a></li>
          <li><a href="#visualType">Type of visual</a></li>
          <li><a href="#typography">Typography</a></li>
          <li><a href="#designers">Designers</a></li>
          <li><a href="#works">Works</a></li>
        </ul>
      </nav>
    </header>

      <section id="about">
        <h1>Militant Graphics</h1>
        <p>Learn about the militant graphics art movement and its impact on graphic design.</p>
      </section>

      <div class="fadeCover"></div>

    </section>

    <div class="containerNOTACTIVE">
      <section id="visualType">
        <h2>Type of visual</h2>
        <p>Digital photomontage (collage or software assembly of photographs giving a different appearance to a photo, by incorporating one or more parts or the whole of another photo, and allowing all kinds of retouching and trickery.)</p>
        <div class="centerImage">
          <img class="visualImg" src="../assets/img/templates/Graphisme militant/27398091678_d5d11c779c_o.jpg" alt="press ad in Adbusters n°96"/>
        </div>
        <p>press ad in Adbusters n°96, Heather Anne CAMPBELL, 2011.</p>
      </section>

          <div class="row">
            <div class="column">
              <section id="typography">
                <h2>Typography</h2>
                <p>Gill Sans is a humanist sans-serif typeface designed by Eric Gill and released by the British branch of Monotype from 1928 onwards. </p>
                <img class="typoImg" src="../assets/img/templates/Graphisme militant/fonts_sample_gillsans_light.png" alt="Gill Sans font"/>
              </section>
            </div>
            <div class="column">
              <section id="designers">
                <h2>Designers</h2>
                <div class="imageLeft">
                  <img src="../assets/img/templates/Graphisme militant/jonathan-barnbrook.jpg" alt="Jonathan Barnbrook"/>
                  <p>Jonathan Barnbrook (Jonathan Barnbrook is a British graphic designer, film-maker and typographer. He trained at Saint Martin's School of Art and the Royal College of Art, both in London).</p>
                </div>
                <div class="imageLeft">
                  <img src="../assets/img/templates/Graphisme militant/MjAyMTAxMGM2OWQ2OGY3MGJiMDI4NDU4Yzg0NjIxZGJkMDY1Y2I.jpg" alt="Alain Le Quernec"/>
                  <p>Alain Le Quernec, born November 15, 1944 in Le Faouët, is a French poster artist and designer (He produces small posters for political, social and cultural movements. This atypical work is published in Graphis magazine and presented at international exhibitions (such as the Warsaw Biennial).</p>
                </div>
              </section>
            </div>
            <div class="column">
              <section id="works">
                <h2>Works</h2>
                <div class="imageLeft">
                  <img src="../assets/img/templates/Graphisme militant/27398091338_30ed912f85_o.jpg" alt="cover of Adbusters magazine n° September-October"/>
                  <p>cover of Adbusters magazine n° September-October, Kalle LASN, 2016 (This image of Trump as dictator of a consumer world accompanies a special issue criticizing the rise of a new fascism that is at once authoritarian, ultra-liberal, in the service of the wealthiest and consumerism, a society where, for the Adbusters editorialist, "we bury our heads in the comfort of a virtual reality while mythomaniacs capture the imagination of the masses").</p>
                </div>
                <div class="imageLeft">
                  <img src="../assets/img/templates/Graphisme militant/Barbara KRUGER, Untitled (I shop therefore I am), 1989.jpg" alt="Barbara Kruger, Untitled, 1989"/>
                  <p>Barbara Kruger, Untitled, 1989 (A violent critique of consumer society, I shop therefore I am is a reworking of 17th-century French philosopher René Descartes' famous formula: Je pense donc je suis (I think therefore I am): Barbara Kruger's work borrows the codes of advertising to subvert them: a limited number of colors (red, white, black and different shades of gray), a simple visual that "catches" the viewer's eye, a slogan positioned at the center of the image and standing out against a red background).</p>
                </div>
              </section>
            </div>
          </div>

    </div>
  

    <footer>
      <p>&copy; 2023 Graphi'Quest</p>
    </footer>

</body>
</html>
