<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>90's design</title>
    <meta name="description" content="">
    <link rel="icon" type="image/x-icon" href="/assets/fav-icons/favicon.ico">
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
  <section class="coverNineties">
    <header>
      <nav class="themeMain">
        <ul>
          <li><a href="../index.html">Home</a></li>
        </ul>
        <img class="logoTop" src ="../assets/img/logo.png" alt="logo">
        <ul>
          <li><a href="./themes.html">Themes</a></li>
          <!-- <li><a href="/subtheme1">BauhausLink</a></li> -->
        </ul>
      </nav>
    </header>
    
    <header>
      <nav class="themeNav">
        <ul>
          <!-- <li><a href="/themes">Themes Menu</a></li> -->
          <li><a href="#about">About 90's design</a></li>
          <li><a href="#visualType">Type of visual</a></li>
          <li><a href="#typography">Typography</a></li>
          <li><a href="#designers">Designers</a></li>
          <li><a href="#works">Works</a></li>
        </ul>
      </nav>
    </header>

      <section id="about">
        <h1>90's design</h1>
        <p>Learn about the 90's design and its impact on graphic design.</p>
      </section>

      <div class="fadeCover"></div>

    </section>

    <div class="containerNOTACTIVE">
      <section id="visualType" class="ninetiesBorder">
        <h2>Type of visual</h2>
        <p>UI design</p>
        <div class="centerImage">
          <img class="visualImg" src="../assets/img/templates/Design années 90/50297615216_0d0db16ed7_o.png" alt="Neuomorphism"/>
        </div>
        <p>Neuomorphism, 2019</p>
      </section>

          <div class="row">
            <div class="column ninetiesBorder">
              <section id="typography">
                <h2>Typography</h2>
                <p>Helvetica (typography used on Macs. It was under the direction of Edouard Hoffmann, director of the Swiss foundry Haas, that Zurich graphic designer and typographer Max Miedinger designed the famous Helvetica in 1957).</p>
                <img class="typoImg" src="../assets/img/templates/Design années 90/Police-Helvetica.jpg" alt="Helvetica"/>
              </section>
            </div>
            <div class="column ninetiesBorder">
              <section id="designers">
                <h2>Designers</h2>
                <div class="imageLeft">
                  <img src="../assets/img/templates/Design années 90/cover.jpg" alt="Susan Kare"/>
                  <p>Susan Kare (Born in 1954, she is an artist and graphic designer who created numerous interface elements and typefaces for the Apple Macintosh computer series in the 1980s. She was also art director at NeXT, the company Steve Jobs founded after leaving Apple in 1985).</p>
                </div>
                <div class="imageLeft">
                  <img src="../assets/img/templates/Design années 90/alan_emtage_banner.jpg" alt="Alan Emtage"/>
                  <p>Alan Emtage (Born November 27, 1964, Alan Emtage is a computer scientist best known for having designed and implemented the first version of Archie, the first search engine on the Internet, which made it possible to locate content available on public FTP servers). </p>
                </div>
              </section>
            </div>
            <div class="column ninetiesBorder">
              <section id="works">
                <h2>Works</h2>
                <div class="imageLeft">
                  <img src="../assets/img/templates/Design années 90/49745676218_d11b9db2c6_o.jpg" alt="skeuomorphism"/>
                  <p>search engine and mails (skeuomorphism), Google, 1997 </p>
                </div>
                <div class="imageLeft">
                  <img src="../assets/img/templates/Design années 90/49746543037_4eec85c8bc_o.png" alt="material design, Google, UI"/>
                  <p>material design, Google, UI, 2015. </p>
                </div>
              </section>
            </div>
          </div>


          <section class="youtube ninetiesBorder">
            <div class="iframeBG">
              <h2>Quick videos to present the subject:</h2>
                <div class="youtubeSizeRatio">
                  <iframe src="https://www.youtube.com/embed/r1FpaX74JCs?si=jblqQNDKApa3aMvI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
              </div>
          </section>

    </div>
  

    <footer>
      <p>&copy; 2023 Graphi'Quest</p>
      <img class="logo" src ="../assets/img/logo.png" alt="logo">
    </footer>

</body>
</html>
