<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta name="description" content="">
    <link rel="icon" type="image/x-icon" href="/assets/fav-icons/favicon.ico">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <nav>
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="#">Themes</a></li>
            <!-- <li><a href="/subtheme1">BauhausLink</a></li> -->
          </ul>
        </nav>
      </header>

<h1>Themes Page</h1>

<div class="card-list">
  <div class="card">
    <img src="../assets/img/bauhaus - Copie.jpg" alt="Card Image Bauhaus">
    <div class="overlay">
      <a href="./bauhaus.html">Bauhaus</a>
    </div>
  </div>
  <div class="card">
    <img src="../assets/img/bauhaus - Copie.jpg" alt="Card Image Art Nouveau">
    <div class="overlay">
      <a href="./artNouveau.html">Art Nouveau</a>
    </div>
  </div>
  <div class="card">
    <img src="../assets/img/bauhaus - Copie.jpg" alt="Card Image Grapus">
    <div class="overlay">
      <a href="./grapus.html">Grapus</a>
    </div>
  </div>
  <div class="card">
    <img src="../assets/img/bauhaus - Copie.jpg" alt="Card Image nineties design">
    <div class="overlay">
      <a href="./ninetiesDesign.html">90's Design</a>
    </div>
  </div>
  <div class="card">
    <img src="../assets/img/bauhaus - Copie.jpg" alt="Card Image Constructivism">
    <div class="overlay">
      <a href="./constructivism.html">Constructivism</a>
    </div>
  </div>
  <div class="card">
    <img src="../assets/img/bauhaus - Copie.jpg" alt="Card Image Militant graphics">
    <div class="overlay">
      <a href="/militantGraphics.html">Militant graphics</a>
    </div>
  </div>
</div>


  <footer>
    <p>&copy; 2023 Graphi'Quest</p>
  </footer>

</body>
</html>